body{
	background-image:url(https://w.forfun.com/fetch/57/57aa69f31fc777b8173cfca3d4c816b0.jpeg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
}
.golova{
	background-color:rgba(68, 50, 17, 0.8);
	padding:20px;
	border-radius:13px;
	box-shadow:0px 0px 20px rgba(237, 255, 0, 0.8);
}
.k1{
	text-decoration:none;
	color:white;
	border:3px solid rgba(125, 131, 35, 0.8);
	padding:5px;
	box-shadow:0px 0px 10px rgba(237, 255, 0, 0.8);
}
.k2{
	text-decoration:none;
	color:gray;
	border:3px solid rgba(125, 131, 35, 0.8);
	padding:5px;
}
.buy{
	text-decoration:none;
	color:white;
	background-color:rgba(68, 50, 17, 0.8);
	padding:10px;
	border-radius:13px;
	box-shadow:0px 0px 20px rgba(237, 255, 0, 0.8);
}
.kepka{
	font-size:50;
	font-family:cursive;
}