body{
    background-color:#0b0c10;
}
.d1{
    border: 5px solid #45A29E;
    box-shadow: 0px 0px 20px #66fcf1;
    width: 500px;
    height: 500px;
}
.d2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:700px;
    width: 100%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c5c6c7;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c5c6c7;  
}
.s2{
   margin-left: 35%;
   margin-top: 30px;
}
.s7{
    margin-left: 35%;
    margin-top: 20px;
 }
 .f2{
    margin-left: 70%;
    margin-top: 50px;
 }
 .j9{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c5c6c7ea;  
 }
 .a8{
    margin-left: 70%;
    margin-top: 50px;
 }