body{
    background-color: burlywood;
}
.a1{
    color: white;
    font-family: cursive;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}